
@{
    ViewBag.Title = "ClaseInscrita";

    var usuario = HttpContext.Current.Session["Usuario"] as dynamic;

    if (usuario == null || (int)usuario.id_tipo_usu != 1 && (int)usuario.id_tipo_usu != 2 && (int)usuario.id_tipo_usu != 3)
    {
        // Redirigir al usuario a la página deseada cuando no hay usuario o no es administrador ni instructor
        Response.RedirectToRoute(new { controller = "Home", action = "Index" });
        Response.End();
    }
}

@if (ViewBag.observacion != null)
{
    <section class="container py-5 col-12">
        <div class="row col-10 py-5 mx-auto justify-content-center container-fluid border marketing">
            <div class="text-center py-4">
                <h2 class="display-5">Clases inscritas</h2>
                <img src="~/Img/logo_clases.png" class="img-fluid rounded-start" alt="..." />
            </div>
            <table class="table table-hover py-5">
                <thead>
                    <tr>
                        <th scope="col">Clase</th>
                        <th scope="col">Nivel</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Dia</th>
                        <th scope="col">Comentario</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in ViewBag.observacion)
                    {
                        <tr>
                            <td>@x.nombre</td>
                            <td>@x.nombre_nivel</td>
                            <td>@x.hora</td>
                            <td>@DateTime.Parse(x.fecha_asistencia).ToString("dd/MM/yyyy")</td>
                            <td>@x.dia_semana</td>
                            <td>@x.comentario</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
}
else
{
    <div class="py-5 col-12">
        <div class="row col-6 py-5 justify-content-center">
            <div class="text-center py-4">
                <h4 class="display-6">No se han encontrado Clases Registradas</h4>
            </div>
        </div>
    </div>
}


