
@{
    ViewBag.Title = "Nuevo producto";
    var usuario = HttpContext.Current.Session["Usuario"] as dynamic;

    if (usuario == null || usuario.id_tipo_usu != 1)
    {
        // Redirigir al usuario a la página deseada cuando no hay usuario o no es administrador ni instructor
        Response.RedirectToRoute(new { controller = "Home", action = "Index" });
        Response.End();
    }
}
<div class="py-5 col-12">
    <div class="row justify-content-center">
        <form class="card col-8" method="post" enctype="multipart/form-data">
            <!--  Titulo  -->
            <div class="text-center py-4">
                <h4 class="display-6">Agregar producto</h4>
            </div>
            <div class="text-center">
                <label for="imagen">Imagen del producto (.png)</label>
                <input type="file" class="align-self-center mx-auto d-block py-3" name="imagen" value="" />
            </div>

            <!--  NOMBRE  -->
            <div class="row g-2">
                <div class="col-6">
                    <div class="form-floating mb-4">
                        <input type="text" class="form-control" name="p_nom" value="" pattern="[A-Za-z0-9áéíóúÁÉÍÓÚüÜñÑ\s]+" title="Solo se permiten letras del español y números" required>
                        <label for="p_nom">Nombre producto</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating mb-4">
                        <input type="text" class="form-control" name="p_des" value="" pattern="[A-Za-z0-9áéíóúÁÉÍÓÚüÜñÑ\s]+" title="Solo se permiten letras del español y números" required>
                        <label for="p_des">Descripcion</label>
                    </div>
                </div>
            </div>
            <!--  precio/stock  -->
            <div class="row g-2">
                <div class="col-6">
                    <div class="form-floating mb-4">
                        <input type="number" class="form-control" name="p_precio" value="" required min="0">
                        <label for="p_precio">Precio normal</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating mb-4">
                        <input type="number" class="form-control" name="p_stock" value="" required min="0">
                        <label for="p_stock">Stock</label>
                    </div>
                </div>
            </div>

            <!--  tipos  -->
            <div class="row g-2">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="p_tipo_prod" class="form-label">Tipo de producto</label>
                        <select class="form-select" id="p_tipo_prod" name="p_tipo_prod" aria-label="Tipo de producto" required>
                            <option value="" selected>Seleccione el tipo de producto</option>
                            @foreach (var tp in ViewBag.TipoProducto)
                            {
                                <option value="@tp.id_tipo_prod">@tp.nombre_tipo_prod</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label for="p_desc" class="form-label">Promocion de descuento (opcional)</label>
                        <select class="form-select" id="p_desc" name="p_desc" aria-label="Descuento">
                            @if (ViewBag.Descuento != null)
                            {
                                <option value="" selected>Seleccione el descuento</option>
                                foreach (var des in ViewBag.Descuento)
                                {
                                    if (@des.VALOR_DESC != null)
                                    {
                                        <option value="@des.ID_DESC_PROD"> @des.VALOR_DESC hasta: @des.FECHA_FIN</option>
                                    }
                                    else
                                    {
                                        <option value="@des.ID_DESC_PROD">@des.PORC_DESC % hasta: @des.FECHA_FIN</option>
                                    }

                                }
                            }
                            else
                            {
                                <option value="" selected>No hay descuentos disponibles.</option>
                            }

                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label for="p_talla" class="form-label">Talla</label>
                        <select class="form-select" id="p_talla" name="p_talla" aria-label="Talla" required>
                            <option value="" selected>Seleccione la talla</option>
                            @foreach (var tal in ViewBag.Talla)
                            {
                                <option value="@tal.id_talla">@tal.nom_talla</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <!--  Enviar informacion  -->
            <div class="py-3"></div>
            <button class="btn btn-danger mb-4" type="submit">Agregar producto</button>
        </form>
    </div>
</div>