@{
    var usuario = HttpContext.Current.Session["Usuario"] as dynamic;
}
<!-- Modal -->
<div class="modal fade" id="ModalIniciarSesion" tabindex="-1" aria-labelledby="ModalIniciarSesion" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalIniciarSesion">No se puede añadir al carrito</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Debe iniciar sesión para agregar al carrito.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Ir a iniciar sesión</button>
            </div>
        </div>
    </div>
</div>
<!--    -->
<div class="container py-5">
    <div class="card py-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <img src="@Url.Content(ViewBag.ProdEsp[0].IMG_PROD)" width="100%" height="225" class="img-fluid justify-content-between align-self-center mx-auto d-block border"/>
                </div>

                <div class="col-md-6 text-center">
                    <h3 class="display-4 py-2">@ViewBag.ProdEsp[0].NOMBRE_PRODUCTO</h3>
                    <p class="lead">@ViewBag.ProdEsp[0].DESCRIPCION</p>
                    <h4 class="lead">Precio normal: <span>@string.Format("${0:N0}", ViewBag.ProdEsp[0].PRECIO_NORMAL)</span></h4>

                    <form method="post" id="addToCartForm">
                        <h5 class="container">
                            @foreach (var x in ViewBag.ProdEsp)
                            {
                                <label class="btn btn-default border">
                                    <input type="radio" name="p_talla" value="@x.ID_PRODUCTO" autocomplete="off" required>
                                    @x.NOMBRE
                                </label>
                            }
                        </h5>
                        <br />
                        @if (usuario != null)
                        {
                            <!-- Campo oculto para enviar el valor de p_rut -->
                            <input type="hidden" name="p_rut" value="@usuario.rut">
                            <div class="action">
                                <button class="btn btn-danger" type="submit">Añadir al carrito</button>
                            </div>
                        }
                        else
                        {
                            <div class="action">
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ModalIniciarSesion">Añadir al carrito</button>
                            </div>
                        }

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
