@{ 
    ViewBag.Title = "Tienda";
    var total = 0;
}

<!-- Sección carrito -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="SeccionCarrito" aria-labelledby="offcanvasRightLabel">
    <!-- Título -->
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Carrito</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <!-- Contenido -->
    <div class="offcanvas-body">
        <!-- Contenedor con altura máxima y scroll -->
        <div class="carrito-container" style="max-height: 700px;">
            <div class="offcanvas-body">
                <!-- Contenedor con altura máxima y scroll -->
                <div class="carrito-container overflow-auto" style="max-height: 650px;">
                    <!-- Contenido del carrito -->
                    @if (ViewBag.Carrito != null)
                    {
                        foreach (var c in ViewBag.Carrito)
                        {
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img"
                                             aria-label="Placeholder: Imagen Referencial" preserveAspectRatio="xMidYMid slice" focusable="false">
                                            <title>Placeholder</title>
                                            <rect width="100%" height="100%" fill="#55595c" />
                                            <text fill="#eceeef" dy=".3em"></text>
                                        </svg>
                                    </div>

                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <p class="card-title">@c.NOMBRE_PRODUCTO</p>
                                            <p class="card-text">@c.DESCRIPCION</p>
                                            <p class="card-text">Talla: @c.NOMBRE</p>

                                            <!-- Cantidad  -->
                                            <div class="mb-3 col-12">
                                                <p class="card-text">CANTIDAD</p>
                                                <input class="form-control text-center col-4" type="number" min="0" max="@c.STOCK" value="@c.CANTIDAD">
                                            </div>
                                            @if (c.VALOR_DESC != 0)
                                            {
                                                <p class="card-text"><small class="text-muted text-decoration-line-through">Precio normal: @string.Format("${0:N0}", c.PRECIO_NORMAL)</small></p>
                                                <p class="card-text"><small class="text-muted">Precio oferta: @string.Format("${0:N0}", c.VALOR_DESC)</small></p>
                                                { total += c.VALOR_DESC; }
                                            }
                                            else
                                            {
                                                <p class="card-text">
                                                    <small class="text-muted">Precio: @string.Format("${0:N0}", c.PRECIO_NORMAL)</small>

                                                </p>
                                                { total += c.PRECIO_NORMAL; }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="mb-3">
                            <div class="row g-0">
                                <h3 class="display-6">Debe ingrear un producto al carrito...</h3>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        @if (ViewBag.Carrito != null)
        {
            <!-- Total a pagar y botón de pago (pegado abajo) -->
            <div class="sticky-bottom py-5">

                <p class="card-text py-5">Total a pagar: @string.Format("${0:N0}", total)</p>
                <a class="nav-item btn btn-danger me-2" href="@Url.Action("Pago", "Compra")">Ir a pagar</a>
            </div>

        }
    </div>
</div>




<!--  Listado de productos  -->
<article class="py-5">

    <!--    Seccion de productos    -->
    @{
        // Configuración de paginación
        int productosPorPagina = 15;
        int totalProductos = (ViewBag.ProdGen != null) ? ViewBag.ProdGen.Count : 0;
        int totalPages = (int)Math.Ceiling((double)totalProductos / productosPorPagina);

        // Página actual (puede obtenerse desde la URL o ViewBag)
        int paginaActual = ViewBag.Pagina ?? 1;

        // Calcula el índice inicial y final de los productos para la página actual
        int startIndex = (paginaActual - 1) * productosPorPagina;
        int endIndex = Math.Min(startIndex + productosPorPagina - 1, totalProductos - 1);
    }

    <div class="container bg-ligth album py-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @for (int i = startIndex; i <= endIndex; i++)
            {
                var x = ViewBag.ProdGen[i];
                <!--  Carta  -->
                <div class="col">
                    <div class="card shadow-sm">
                        <!-- Imagen de la tarjeta -->
                        <svg width="100%" height="225" xmlns="http://www.w3.org/2000/svg">
                            <rect width="100%" height="100%" fill="#55595c" />
                            <text x="35%" y="50%" fill="#eceeef">Imagen del producto</text>
                        </svg>
                        <!-- Contenido de la tarjeta -->
                        <div class="card-body">
                            <p class="card-text">@x.nombre_producto</p>
                            <p class="text-muted">@x.descripcion</p>
                            <p class="text-muted">Precio normal: @string.Format("${0:N0}", x.PRECIO_NORMAL)</p>
                            <div class="pagination justify-content-end">
                                @Html.ActionLink("Ver detalles", "Producto", "Home", new { v_nom = x.nombre_producto }, new { @class = "py-2 btn btn-sm btn-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- Navegación de paginación -->
    <nav class="p-5">
        <ul class="pagination justify-content-center">
            <li class="page-item @(paginaActual == 1 ? "disabled" : "")">
                <a class="page-link bg-danger text-light" href="?pagina=@(paginaActual - 1)" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= totalPages; i++)
            {
                <li class="page-item @(i == paginaActual ? "active" : "")">
                    <a class="page-link bg-danger text-light" href="?pagina=@i">@i</a>
                </li>
            }
            <li class="page-item @(paginaActual == totalPages ? "disabled" : "")">
                <a class="page-link bg-danger text-light" href="?pagina=@(paginaActual + 1)" aria-label="Siguiente">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</article>
