
@{
    ViewBag.Title = "Compra";
    var usuario = HttpContext.Current.Session["Usuario"] as dynamic;
    int total=0;
}

<div class="col-md-12">
    <div class="row justify-content-center py-3">
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header">
                    Proceso de Compra
                </div>
                <div class="card-body justify-content-center">
                    <!-- Productos del carrito de compra -->
                    <div class="offcanvas-body">
                        <div class="carrito-container overflow-auto" style="max-height: 650px;">

                            @if (ViewBag.Carrito != null)
                            {
                                foreach (var c in ViewBag.Carrito)
                                {
                                    <div class="card mb-3">
                                        <div class="row g-0">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Nombre</th>
                                                        <th scope="col">Talla</th>
                                                        <th scope="col">Cantidad</th>
                                                        <th scope="col">Precio normal C/U</th>
                                                        <th scope="col">Precio oferta C/U</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>@c.NOMBRE_PRODUCTO</td>
                                                        <td>@c.NOMBRE</td>
                                                        <td>@c.CANTIDAD</td>
                                                        @if (c.VALOR_DESC != 0)
                                                        {
                                                            <td>@string.Format("${0:N0}", c.PRECIO_NORMAL)</td>
                                                            <td>@string.Format("${0:N0}", (c.PRECIO_NORMAL - c.VALOR_DESC))</td>
                                                            { total = ((c.PRECIO_NORMAL - c.VALOR_DESC) * @c.CANTIDAD); }
                                                        }
                                                        @if (c.PORC_DESC != 0)
                                                        {
                                                            <td>Precio normal @string.Format("${0:N0}", c.PRECIO_NORMAL)</td>
                                                            <td>@string.Format("${0:N0}", c.VALOR_DESC)</td>
                                                        }
                                                        else
                                                        {
                                                            <td>@string.Format("${0:N0}", c.PRECIO_NORMAL)</td>
                                                            <td>--</td>
                                                            { total = (c.PRECIO_NORMAL * @c.CANTIDAD); }
                                                        }
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <p class="card-text">Total a pagar</p>
                                    <h5 class="card-title">@string.Format("${0:N0}", @total)</h5>
                                }
                            }
                            else
                            {
                                <div class="mb-3">
                                    <div class="row g-0">
                                        <h3 class="display-6">Debe ingresar un producto al carrito...</h3>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>

                    <!-- Total a pagar y botón de pago (pegado abajo) -->
                    @if (ViewBag.Carrito != null)
                    {
                        <div class="sticky-bottom py-5">
                            <p class="card-text py-5">Total a pagar:</p>
                            <a class="nav-item btn btn-danger me-2" href="@Url.Action("Pago", "Compra")">Ir a pagar</a>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

