
@{
    ViewBag.Title = "Compra";
    var usuario = HttpContext.Current.Session["Usuario"] as dynamic;
    int total = 0;
}

<div class="col-md-12">
    <div class="row justify-content-center py-3">
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header">
                    Proceso de Compra
                </div>
                <div class="card-body justify-content-center">
                    <!-- Productos del carrito de compra -->
                    <div class="offcanvas-body">
                        <div class="carrito-container overflow-auto" style="max-height: 650px;">

                            @if (ViewBag.Carrito != null)
                            {
                                <div class="card mb-3">
                                    <div class="row g-0">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Nombre</th>
                                                    <th scope="col">Talla</th>
                                                    <th scope="col">Cantidad</th>
                                                    <th scope="col">Precio normal C/U</th>
                                                    <th scope="col">Precio oferta C/U</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var c in ViewBag.Carrito)
                                                {
                                                <tr>
                                                    <td>@c.NOMBRE_PRODUCTO</td>
                                                    <td>@c.NOMBRE</td>
                                                    <td>@c.CANTIDAD</td>

                                                    @if (c.precio_total != c.PRECIO_NORMAL)
                                                    {
                                                        <td><small class="text-muted text-decoration-line-through">Precio normal: @string.Format("${0:N0}", c.PRECIO_NORMAL)</small></td>
                                                        <td><small class="text-muted">Precio oferta: @string.Format("${0:N0}", c.precio_total)</small>)</td>
                                                        { total = total+(c.precio_total * @c.CANTIDAD); }
                                                    }

                                                    else
                                                    {
                                                        <td><small class="text-muted">@string.Format("${0:N0}", c.PRECIO_NORMAL)</small></td>
                                                        <td><small class="text-muted">--</small></td>
                                                        { total = total+(c.precio_total * @c.CANTIDAD); }
                                                    }
                                                </tr>
}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="sticky-bottom py-5">
                                    <p class="card-text py-5">Total a pagar: @string.Format("${0:N0}", @total)</p>
                                    <a>@Html.ActionLink("Ir a pagar", "NuevaOrdenCompra", "Compra", new { v_rut = usuario.rut }, new { @class = "btn btn-danger me-2" })</a>
                                </div>
                            }
                            else
                            {
                                <div class="mb-3">
                                    <div class="row g-0">
                                        <h3 class="display-6">Debe ingresar un producto al carrito...</h3>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>